body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

a{
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: left;
  margin: 185px 40px;
}

.intro {
  font-size: 2.5rem;
  font-weight: 200;
  color: black;
  margin: 10px 0;
}

.name {
  font-weight: 400;
  font-size: 1.1em;
}

.prof {
  font-size: 2.5rem;
  color: black;
  font-weight: 300;
  margin: 10px 0;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
  margin: 15px -3px 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 7px;
  color: black;
  text-decoration: none;
  transition: all 213ms ease;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.icon:hover {
  transform: translate(0, -3px);
}

.navbar {
  margin: 0 40px 0 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: sticky;
  top: 20px;
  overflow: hidden;
  z-index: 1000;
  transition: all 213ms ease;
  background: white;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.603);
}

.navbar a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all 213ms ease;
}

.navbar a:hover {
  transform: translate(0, -3px);
}

.section {
  margin: 40px 40px 100px 40px;
}

.sectionTitle {
  color: black;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 50px;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

/* Skills section columns */
.skills-columns {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.skills-columns::before {
  content: "";
  position: absolute;
  left: 55.5%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ccc;
}

@media (max-width: 1200px) {
  .skills-columns::before{
    display: none;
  }
}

@media (max-width: 768px) {
  .skills-columns::before {
    display: none;
  }
}

.skills-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.skills-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 300px;
  gap: 1rem;
}

@media only screen and (max-width: 640px) {
  .skills {
    justify-content: center;
  }
}

.skill {
  width: 75px;
  height: 75px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 7px;
  object-fit: contain;
  transition: all 213ms ease;
}

.skillText{
  text-align: center;
}

.skill:hover {
  transform: translate(0, -3px);
}

.projGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.proj {
  color: #fff;
  max-height: fit-content;
  border-radius: 15px;
  transition: all 213ms ease;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.384);
}

.projImage {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.arrow {
  position: absolute;
  top: 20%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.projContent {
  padding: 22px;
}

.projTitle {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  margin-bottom: 2px;
}

.projDescription {
  font-size: 0.875rem;
  font-weight: 300;
  color: black;
}

.projTech {
  font-size: 0.875rem;
  color: black;
  font-weight: 300;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: -5px;
}

.feature {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 300;
  color: black;
  margin-bottom: 6px;
}



